.stock-dashboard {
    display: block;
}
body{
    color: #282c34;
}
.content {
    flex-grow: 1;
    padding: 16px;
    margin-left: 240px;
}

.admin-heading {
    font-weight: bold;
    font-size: 1.2em;
    padding: 16px;
    color: white;
    background-color: #333;
}

.cursor-pointer {
    cursor: pointer;
}

.overview {
    border: 1px solid red;
    padding: 10px;
    height: auto;
    margin-left: 255px;
    margin-right: 28px;
    margin-bottom: 30px;
    background-color: white;
}